In [1]:
import sqlite3

con = sqlite3.connect('movi.db')
cur = con.cursor()
cur.execute('PRAGMA foreign_keys = 1')

# cur.execute(''' CREATE TABLE film (
# id INTEGER PRIMARY KEY,
# genre_id INTEGER NOT NULL,
# name TEXT NOT NULL,
# age INTEGET NOT NULL,
# FOREIGN KEY (genre_id) REFERENCES genre (id)
# )
# ''')

# cur.execute(''' CREATE TABLE genre (
# id INTEGER PRIMARY KEY,
# name TEXT NOT NULL
# )
# ''')

cur.execute('INSERT INTO film ( name, age, genre_id) VALUES ("Ярусский",2019,4)')

IntegrityError: UNIQUE constraint failed: film.id

In [11]:
cur.execute('INSERT INTO film(name, age, genre_id) VALUES ("Крутой", 2019,4)')

In [3]:
cur.close()
con.close()