# №1

In [17]:
import sqlite3

db = sqlite3.connect('exzam.db')
cur = db.cursor()
cur.execute('PRAGMA foreign_keys = 1')

In [19]:
cur.execute(''' CREATE TABLE stat (
id INTEGER PRIMARY KEY,
status TEXT NOT NULL      
)
''') #FOREIGN KEY (genre_id) REFERENCES genre (id) #balance

In [20]:
cur.execute("INSERT INTO stat(status) VALUES('стандарт')")
cur.execute("INSERT INTO stat(status) VALUES('Вип')")

In [24]:
cur.execute(''' CREATE TABLE baza (
id INTEGER PRIMARY KEY,
fio TEXT NOT NULL,
city_reg TEXT NOT NULL,
status_id INTEGER NOT NULL,
account_num INTEGER NOT NULL,
money INTEGER NOT NULL,
FOREIGN KEY (status_id) REFERENCES stat (id)
)
''')

In [27]:
data = [
('Васичкин Иван Иванович', 'Москва', 1, 118834123, 20105),
('Васильев Сергей Иванович', 'Татарстан', 2, 119835143, 1105),
('Смирнов Вячеслав Сергеевич', 'Новосибирск', 1, 11556146, 7105)
]

In [28]:
cur.executemany("INSERT INTO baza(fio,city_reg,status_id,account_num,money) VALUES (?,?,?,?,?)",data)

In [29]:
db.commit()
cur.close()
db.close()

# №2

Выведет id 1,5 но проверим

In [6]:
import sqlite3

db = sqlite3.connect('exzam.db')
cur = db.cursor()
cur.execute('PRAGMA foreign_keys = 1')

In [7]:
# cur.execute(''' CREATE TABLE user (
# id INTEGER PRIMARY KEY,
# nick TEXT NOT NULL,
# balance INTEGER NOT NULL,
# email TEXT NOT NULL
# )
# ''')

In [8]:
data = [
('Vasy', 1006, 'vasvas@mail.ru'),
('Nikitos', 1100, 'nika@mail.ru'),
('Marishka', 1000, 'marisha@yandex.ru'),
('Alexandr', 1014, 'alexAleks@mail.ru'),
('Serg', 909, 'sergserg@yandex.ru'),
('Julia', 710, 'juliaur@yandex.ru')
]

In [9]:
cur.executemany("INSERT INTO user(nick,balance,email) VALUES (?,?,?)",data)

In [10]:
cur.execute("SELECT nick FROM user WHERE nick LIKE '%a%' AND balance > 1000")
cur.fetchall()

[('Vasy',), ('Alexandr',)]

In [11]:
db.commit()
cur.close()
db.close()

# №3

In [12]:
import sqlite3

db = sqlite3.connect('exam2023.db')
cur = db.cursor()
cur.execute('PRAGMA foreign_keys = 1')

In [13]:
cur.execute("SELECT population FROM city WHERE name = 'Иркутск'")
cur.fetchall()

[(617515,)]

In [14]:
cur.execute("SELECT name FROM city WHERE population < (SELECT population FROM city WHERE name = 'Иркутск')")
result = cur.fetchall()

In [15]:
result

[('Хабаровск',),
 ('Владивосток',),
 ('Оренбург',),
 ('Томск',),
 ('Кемерово',),
 ('Липецк',),
 ('Улан-хото',),
 ('Хотан',),
 ('Хуалянь',),
 ('Лион',),
 ('Тулуза',),
 ('Ницца',),
 ('Нант',),
 ('Страсбург',),
 ('Монпелье',),
 ('Бордо',),
 ('Лилль',),
 ('Ренн',),
 ('Реймс',),
 ('Гавр',),
 ('Тулон',),
 ('Лейпциг',),
 ('Дортмунд',),
 ('Эссен',),
 ('Бремен',),
 ('Дрезден',),
 ('Ганновер',),
 ('Нюрнберг',),
 ('Абу-Даби',),
 ('Шарджа',),
 ('Эль-Айн',),
 ('Аджман',),
 ('Рас-эль-Хайма',),
 ('Эль-Фуджайра',),
 ('Умм-эль-Кайвайн',),
 ('Хаур-Факкан',),
 ('Джабаль-Али',),
 ('Дибба Эль-Фуджайра',),
 ('Мадинат-Зайед',),
 ('Дибба Эль-Хисн',),
 ('Генуя',),
 ('Болонья',),
 ('Фроленция',),
 ('Бари',),
 ('Катания',),
 ('Венеция',),
 ('Верона',),
 ('Мессина',),
 ('Падуя',),
 ('Триест',),
 ('Таранто',),
 ('Парма',),
 ('Римини',)]

In [16]:
len(result)

53

In [42]:
cur.execute("SELECT name,(SELECT name FROM country WHERE id = id_country) FROM city WHERE population < (SELECT population FROM city WHERE name = 'Иркутск')")
result = cur.fetchall()
result

[('Хабаровск', 'Россия'),
 ('Владивосток', 'Россия'),
 ('Оренбург', 'Россия'),
 ('Томск', 'Россия'),
 ('Кемерово', 'Россия'),
 ('Липецк', 'Россия'),
 ('Улан-хото', 'Китай'),
 ('Хотан', 'Китай'),
 ('Хуалянь', 'Китай'),
 ('Лион', 'Франция'),
 ('Тулуза', 'Франция'),
 ('Ницца', 'Франция'),
 ('Нант', 'Франция'),
 ('Страсбург', 'Франция'),
 ('Монпелье', 'Франция'),
 ('Бордо', 'Франция'),
 ('Лилль', 'Франция'),
 ('Ренн', 'Франция'),
 ('Реймс', 'Франция'),
 ('Гавр', 'Франция'),
 ('Тулон', 'Франция'),
 ('Лейпциг', 'Германия'),
 ('Дортмунд', 'Германия'),
 ('Эссен', 'Германия'),
 ('Бремен', 'Германия'),
 ('Дрезден', 'Германия'),
 ('Ганновер', 'Германия'),
 ('Нюрнберг', 'Германия'),
 ('Абу-Даби', 'Объединенные Арабские Эмираты'),
 ('Шарджа', 'Объединенные Арабские Эмираты'),
 ('Эль-Айн', 'Объединенные Арабские Эмираты'),
 ('Аджман', 'Объединенные Арабские Эмираты'),
 ('Рас-эль-Хайма', 'Объединенные Арабские Эмираты'),
 ('Эль-Фуджайра', 'Объединенные Арабские Эмираты'),
 ('Умм-эль-Кайвайн', 'Объединенные Арабские Эмираты'),
 ('Хаур-Факкан', 'Объединенные Арабские Эмираты'),
 ('Джабаль-Али', 'Объединенные Арабские Эмираты'),
 ('Дибба Эль-Фуджайра', 'Объединенные Арабские Эмираты'),
 ('Мадинат-Зайед', 'Объединенные Арабские Эмираты'),
 ('Дибба Эль-Хисн', 'Объединенные Арабские Эмираты'),
 ('Генуя', 'Италия'),
 ('Болонья', 'Италия'),
 ('Фроленция', 'Италия'),
 ('Бари', 'Италия'),
 ('Катания', 'Италия'),
 ('Венеция', 'Италия'),
 ('Верона', 'Италия'),
 ('Мессина', 'Италия'),
 ('Падуя', 'Италия'),
 ('Триест', 'Италия'),
 ('Таранто', 'Италия'),
 ('Парма', 'Италия'),
 ('Римини', 'Италия')]