In [1]:
import pandas as pd

df = pd.DataFrame()

# ___________________________________________________________________

In [2]:
data = pd.read_csv('datasets/spam/spam.csv', encoding='latin-1')
data = data.loc[data['v1'] == 'spam', 'v2'].dropna()
data

2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547    Had your contract mobile 11 Mnths? Latest Moto...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: v2, Length: 747, dtype: object

In [3]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
5537  Want explicit SEX in 30 secs? Ring 02073162414...
5540  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  Had your contract mobile 11 Mnths? Latest Moto...
5566  REMINDER FROM O2: To get 2.50 pounds free call...
5567  This is the 2nd time we have tried 2 contact u...

[747 rows x 1 columns]

# ___________________________________________________________________

In [4]:
data = pd.read_csv('datasets/spam/spam_or_not_spam.csv')
data = data.loc[data['label'] == 1, 'email']
data

2500     save up to NUMBER on life insurance why spend...
2501    NUMBER fight the risk of cancer URL NUMBER sli...
2502    NUMBER fight the risk of cancer URL NUMBER sli...
2503     adult club offers free membership instant acc...
2504    i thought you might like these NUMBER slim dow...
                              ...
2995     abc s good morning america ranks it the NUMBE...
2996     hyperlink hyperlink hyperlink let mortgage le...
2997     thank you for shopping with us gifts for all ...
2998     the famous ebay marketing e course learn to s...
2999     hello this is chinese traditional Â≠ê ‰ª∂ NUMBER‰∏ñ...
Name: email, Length: 500, dtype: object

In [5]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
2995   abc s good morning america ranks it the NUMBE...
2996   hyperlink hyperlink hyperlink let mortgage le...
2997   thank you for shopping with us gifts for all ...
2998   the famous ebay marketing e course learn to s...
2999   hello this is chinese traditional Â≠ê ‰ª∂ NUMBER‰∏ñ...

[1247 rows x 1 columns]

# ___________________________________________________________________

In [6]:
with open('datasets/spam/SMSSpamCollection', encoding='utf-8') as file:
    data = file.read()
data = data.split('\n')
data = pd.DataFrame(list(map(lambda x: x.split('\t'), data)))
data.columns = ['label', 'comment']
data = data.loc[data['label'] == 'spam', 'comment'].copy()
data

2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5539    Want explicit SEX in 30 secs? Ring 02073162414...
5542    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5549    Had your contract mobile 11 Mnths? Latest Moto...
5568    REMINDER FROM O2: To get 2.50 pounds free call...
5569    This is the 2nd time we have tried 2 contact u...
Name: comment, Length: 747, dtype: object

In [7]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
5539  Want explicit SEX in 30 secs? Ring 02073162414...
5542  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5549  Had your contract mobile 11 Mnths? Latest Moto...
5568  REMINDER FROM O2: To get 2.50 pounds free call...
5569  This is the 2nd time we have tried 2 contact u...

[1994 rows x 1 columns]

# ___________________________________________________________________

In [8]:
data = pd.read_csv('datasets/spam/spam_ham_dataset.csv')
data.drop(columns=['Unnamed: 0', 'label_num'], inplace=True)
data = data.loc[data['label'] == 'spam', 'text']
data

3       Subject: photoshop , windows , office . cheap ...
7       Subject: looking for medication ? we ` re the ...
10      Subject: vocable % rnd - word asceticism\r\nvc...
11      Subject: report 01405 !\r\nwffur attion brom e...
13      Subject: vic . odin n ^ ow\r\nberne hotbox car...
                              ...
5159    Subject: pictures\r\nstreamlined denizen ajar ...
5161    Subject: penny stocks are about timing\r\nnoma...
5162    Subject: anomaly boys from 3881\r\nuosda apapr...
5164    Subject: slutty milf wants to meet you\r\ntake...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 1499, dtype: object

In [9]:
def subj_del(text):
    return text.replace('Subject:', '', 1)


data = data.apply(subj_del)
data

3        photoshop , windows , office . cheap . main t...
7        looking for medication ? we ` re the best sou...
10       vocable % rnd - word asceticism\r\nvcsc - bra...
11       report 01405 !\r\nwffur attion brom est inst ...
13       vic . odin n ^ ow\r\nberne hotbox carnal brid...
                              ...
5159     pictures\r\nstreamlined denizen ajar chased\r...
5161     penny stocks are about timing\r\nnomad intern...
5162     anomaly boys from 3881\r\nuosda apaproved mle...
5164     slutty milf wants to meet you\r\ntake that !\...
5170     important online banking alert\r\ndear valued...
Name: text, Length: 1499, dtype: object

In [10]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
5159   pictures\r\nstreamlined denizen ajar chased\r...
5161   penny stocks are about timing\r\nnomad intern...
5162   anomaly boys from 3881\r\nuosda apaproved mle...
5164   slutty milf wants to meet you\r\ntake that !\...
5170   important online banking alert\r\ndear valued...

[3493 rows x 1 columns]

# ___________________________________________________________________

In [11]:
data = pd.read_csv('datasets/spam/data.csv')
data = data.loc[data['type'] == 'spam', 'text']
data

0     Hi James,\n\nHave you claim your complimentary...
4     Hey Prachanda Rawal,\n\nToday's newsletter is ...
7     Today more than ever you need to upskill and r...
14    Discogs has recently detected an increase in s...
20    Hello Walid,\n\nDo you have $7?\n\nI ask becau...
21                                  Just wanted to make
22                          RTD to iiiiiiuiiiiiiiiiiiii
23                     Sfhdg to iiiiiiuiiiiiiiiiiiii to
25    Welcome to our second weekly newsletter.\n\n \...
27    Hi Taiwo\n\nWe're just over halfway through th...
28    Hi rehan\n\n \n\nWe're just over halfway throu...
30    Adult Dating\n\nDiscover the best site for sin...
31    Come on, message me i don't want to sleep alon...
34    To cushion the effect of subsidy removal and g...
35    Bolt rides are not only affordable, but they a...
38    \nLess than $1 for any of our 214 million amaz...
40    Where Live Happens ??\nThe Live party is just ...
41    Hello Walid,\n\nOur Zoom call meeting is tomor...
55    Greetings from SFI...let's keep building somet...
57    Comfortable & Durable\nLove, Bonito\nNEW IN  B...
60    Dear Customer,\n\nAs the tax season comes to a...
61    Dear Customer,\n\nThe 2022 filing season is al...
63    HereÔøΩs 10% OFF your next 10 Bolt rides\n\nYou ...
72    Hi Walid,\n\nDo you listen to music on Spotify...
74    Hey Prachanda,\n \nToday's video... To build y...
76    We noticed a new login\nHello ondiekijohn254@g...
Name: text, dtype: object

In [12]:
df = pd.concat([df, data])
df

                                                    0
2   Free entry in 2 a wkly comp to win FA Cup fina...
5   FreeMsg Hey there darling it's been 3 week's n...
8   WINNER!! As a valued network customer you have...
9   Had your mobile 11 months or more? U R entitle...
11  SIX chances to win CASH! From 100 to 20,000 po...
..                                                ...
61  Dear Customer,\n\nThe 2022 filing season is al...
63  HereÔøΩs 10% OFF your next 10 Bolt rides\n\nYou ...
72  Hi Walid,\n\nDo you listen to music on Spotify...
74  Hey Prachanda,\n \nToday's video... To build y...
76  We noticed a new login\nHello ondiekijohn254@g...

[3519 rows x 1 columns]

# ___________________________________________________________________

In [13]:
data = pd.read_csv('datasets/spam/data_russian-spam-text-messages.csv')
data = data['message'].copy()
data

0      –ö—Ä–µ–¥–∏—Ç —Å –¥–æ—Å—Ç–∞–≤–∫–æ–π –∫ –í–∞–º –æ—Ç 2% –¥–æ 1 –º–ª–Ω.—Ä.: bi...
1      –¢–æ–º–∞—Ç—ã –ß–µ—Ä—Ä–∏, –≥–æ—Ä—è—á–µ–µ —Å–µ—Ä–¥—Ü–µ/–∫–ª—É–±–Ω–∏—á–Ω—ã–π –ø–æ—Ü–µ–ª—É...
2      ‚àí410‚ÇΩ –Ω–∞ –ø–µ—Ä–≤—ã–π –∑–∞–∫–∞–∑ –≤ –º–∞–≥–∞–∑–∏–Ω–µ –æ—Ç 1500‚ÇΩ. –ü—Ä–æ...
3      –§–∏–Ω–∞–ª—å–Ω–∞—è —Ä–∞—Å–ø—Ä–æ–¥–∞–∂–∞! –õ–ï–¢–û —Ü–µ–Ω—ã –ü–û–ü–û–õ–ê–ú! Franc...
4      –ú–Ø–£ üê± –í –õ–≠–¢–£–ê–õ–¨ —á–µ—Ä–Ω–∞—è –ø—è—Ç–Ω–∏—Ü–∞ –õ–ï–¢–û–ú! –°–∫–∏–¥–∫–∏ –¥...
                             ...
110    –í–∞–º 500 –±–æ–Ω—É—Å–æ–≤ –¥–æ 28.06! –û–ø–ª–∞—á–∏–≤–∞–π—Ç–µ –¥–æ 50% –ø...
111    –í—ã–∏–≥—Ä–∞–π—Ç–µ –±–æ–ª–µ–µ 49 –º–ª–Ω –≤ –ª–æ—Ç–µ—Ä–µ–µ –í—Å—ë –∏–ª–∏ –Ω–∏—á–µ–≥...
112     –º—è—É –≤ –ª—ç—Ç—É–∞–ª—å —á–µ—Ä–Ω–∞—è –ø—è—Ç–Ω–∏—Ü–∞ –õ–µ—Ç–æ–º!–°–∫–∏–¥–∫–∏ –¥–æ 80%
113    –ë–µ—Å–ø–ª–∞—Ç–Ω–∞—è –∫—Ä–µ–¥–∏—Ç–Ω–∞—è –∫–∞—Ä—Ç–∞ ¬´180 –¥–Ω–µ–π¬ª –±–µ–∑ %, —Å...
114    SALE üí• –¥–æ -70% –Ω–∞ –í–°–Å –≤ –ó–æ–ª–æ—Ç–æ–π –ü–æ–¥–∫–æ–≤–µ üíçüíé –ø–æ ...
Name: message, Length: 115, dtype: object

In [14]:
df = pd.concat([df, data])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
110  –í–∞–º 500 –±–æ–Ω—É—Å–æ–≤ –¥–æ 28.06! –û–ø–ª–∞—á–∏–≤–∞–π—Ç–µ –¥–æ 50% –ø...
111  –í—ã–∏–≥—Ä–∞–π—Ç–µ –±–æ–ª–µ–µ 49 –º–ª–Ω –≤ –ª–æ—Ç–µ—Ä–µ–µ –í—Å—ë –∏–ª–∏ –Ω–∏—á–µ–≥...
112   –º—è—É –≤ –ª—ç—Ç—É–∞–ª—å —á–µ—Ä–Ω–∞—è –ø—è—Ç–Ω–∏—Ü–∞ –õ–µ—Ç–æ–º!–°–∫–∏–¥–∫–∏ –¥–æ 80%
113  –ë–µ—Å–ø–ª–∞—Ç–Ω–∞—è –∫—Ä–µ–¥–∏—Ç–Ω–∞—è –∫–∞—Ä—Ç–∞ ¬´180 –¥–Ω–µ–π¬ª –±–µ–∑ %, —Å...
114  SALE üí• –¥–æ -70% –Ω–∞ –í–°–Å –≤ –ó–æ–ª–æ—Ç–æ–π –ü–æ–¥–∫–æ–≤–µ üíçüíé –ø–æ ...

[3634 rows x 1 columns]

# ___________________________________________________________________

In [15]:
data = pd.read_csv('datasets/spam/completeSpamAssassin.csv')
data = data.loc[data['Label'] == 1, 'Body'].copy()
data

0       \nSave up to 70% on Life Insurance.\nWhy Spend...
1       1) Fight The Risk of Cancer!\nhttp://www.adcli...
2       1) Fight The Risk of Cancer!\nhttp://www.adcli...
3       ##############################################...
4       I thought you might like these:\n1) Slim Down ...
                              ...
1891    \nWant To Be Your Own Boss? √Ç¬† Train Now With ...
1892                                                empty
1893    Dear Subscriber,If I could show you a way to g...
1894    ****Mid-Summer Customer Appreciation SALE!****...
1895    ATTN:SIR/MADAN                            STRI...
Name: Body, Length: 1896, dtype: object

In [16]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
1891  \nWant To Be Your Own Boss? √Ç¬† Train Now With ...
1892                                              empty
1893  Dear Subscriber,If I could show you a way to g...
1894  ****Mid-Summer Customer Appreciation SALE!****...
1895  ATTN:SIR/MADAN                            STRI...

[5530 rows x 1 columns]

# ___________________________________________________________________

In [17]:
data = pd.read_csv('datasets/spam/lingSpam.csv')
data = data.loc[data['Label'] == 1, 'Body']
data

0      Subject: great part-time or summer job !\n \n ...
1      Subject: auto insurance rates too high ?\n \n ...
2      Subject: do want the best and economical hunti...
3      Subject: email 57 million people for $ 99\n \n...
4      Subject: do n't miss these !\n \n attention ! ...
                             ...
428    Subject: lucky you !\n \n congratulations ! yo...
429    Subject: new on capitalfm . com\n \n this is n...
430    Subject: submit 600\n \n this is not spam ; yo...
431    Subject: submit 600\n \n this is not spam ; yo...
432    Subject: i can ' t stand it ! ! ! ! ! ! !\n \n...
Name: Body, Length: 433, dtype: object

In [18]:
data = data.apply(subj_del)
data

0       great part-time or summer job !\n \n * * * * ...
1       auto insurance rates too high ?\n \n dear nlp...
2       do want the best and economical hunting vacat...
3       email 57 million people for $ 99\n \n 57 mill...
4       do n't miss these !\n \n attention ! warning ...
                             ...
428     lucky you !\n \n congratulations ! you ' ve b...
429     new on capitalfm . com\n \n this is new at ht...
430     submit 600\n \n this is not spam ; you are re...
431     submit 600\n \n this is not spam ; you are re...
432     i can ' t stand it ! ! ! ! ! ! !\n \n dear in...
Name: Body, Length: 433, dtype: object

In [19]:
df = pd.concat([df, data])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
428   lucky you !\n \n congratulations ! you ' ve b...
429   new on capitalfm . com\n \n this is new at ht...
430   submit 600\n \n this is not spam ; you are re...
431   submit 600\n \n this is not spam ; you are re...
432   i can ' t stand it ! ! ! ! ! ! !\n \n dear in...

[5963 rows x 1 columns]

# ___________________________________________________________________

In [20]:
data = pd.read_csv('datasets/spam/train.csv')
data1 = pd.read_csv('datasets/spam/test.csv')
data = data.loc[data['label'] == 'spam', 'text']
data1 = data1.loc[data1['label'] == 'spam', 'text']
print(data)
print(data1)

0       5 Reasons You Need to Join InstaSpam Now!\n\n1...
1       Win A FREE iPhone X Now!! Click Here To Enter!...
2       CHECK OUT THESE AMAZING DEALS! GET RICH QUICK ...
3       Urgent update!!1!!1!1 OMG üò±üò±üò±\nYou won't belie...
4       Get rich quick with our amazing new investment...
                              ...
4995    Do you want to lead a happy life? Then join ou...
4996    Get ready to start making BANK with our amazin...
4997    Get ready to upgrade your social media game wi...
4998    Get rIch QUICK wIth thIs AMAZiNG oppOrTUity!!!...
4999    Get rich quick with our new investment scheme!...
Name: text, Length: 5000, dtype: object
0      LeTs tAlK AbouT DisCOuNtS aNd DeAlS! WhO HaS T...
1      Waaassssupppppp!!!!!! Have you checked out the...
2      $$$MAKE $$$MONEY$$$ FAST!!!$$$ No scams!$$$ \n...
3      Get rich quick with our amazing new product!!!...
4      Are you tired of being single? Join our websit...
                             ...
495    Attention all users! You won't believe the sup...
496    Free V1AGR4 and C1AL1S for all your needs! Don...
497    üí∞üí∞üí∞ Get Rich Quick!!! üí∞üí∞üí∞\nAre you tired of wo...
498    10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499    Yo guys! Check out this totally rad deal I fou...
Name: text, Length: 500, dtype: object

In [21]:
df = pd.concat([df, data, data1])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
495  Attention all users! You won't believe the sup...
496  Free V1AGR4 and C1AL1S for all your needs! Don...
497  üí∞üí∞üí∞ Get Rich Quick!!! üí∞üí∞üí∞\nAre you tired of wo...
498  10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499  Yo guys! Check out this totally rad deal I fou...

[11463 rows x 1 columns]

# ___________________________________________________________________

In [22]:
data = pd.read_csv('datasets/spam/enronSpamSubset.csv')
data = data.loc[data['Label'] == 1, 'Body']
data = data.apply(subj_del)
data

0        stock promo mover : cwtd\n * * * urgent inves...
1        are you listed in major search engines ?\n su...
2        important information thu , 30 jun 2005 .\n s...
3        = ? utf - 8 ? q ? bask your life with ? =\n =...
4        " bidstogo " is places to go , things to do\n...
                              ...
4995                                     rock her world\n
4996     save your smoking\n unsubscribe\n taste benze...
4997     you can find unimaginable savings on v . aliu...
4998     floor heating under tile - easiest system on ...
4999     update your online banking records\n notifica...
Name: Body, Length: 5000, dtype: object

In [23]:
df = pd.concat([df, data, data1])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
495  Attention all users! You won't believe the sup...
496  Free V1AGR4 and C1AL1S for all your needs! Don...
497  üí∞üí∞üí∞ Get Rich Quick!!! üí∞üí∞üí∞\nAre you tired of wo...
498  10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499  Yo guys! Check out this totally rad deal I fou...

[16963 rows x 1 columns]

# ___________________________________________________________________

In [24]:
data = pd.read_csv('datasets/spam/junkmail_dataset.csv')
data = data.loc[data['is_spam'] == 1, 'text']
data

4114     Life Insurance - Why Pay More?\n\n<!DOCTYPE HT...
4115     [ILUG] Guaranteed to lose 10-12 lbs in 30 days...
4116     Guaranteed to lose 10-12 lbs in 30 days       ...
4117     Re: Fw: User Name & Password to Membership To ...
4118     [ILUG-Social] re: Guaranteed to lose 10-12 lbs...
                               ...
42614    –ö–∞–∫–æ–π —É —Ç–µ–±—è –ª—é–±–∏–º—ã–π —Ü–≤–µ—Ç? –§–∞–Ω—Ç–∞—Å—Ç–∏—á–µ—Å–∫–∏–π –µ–¥–∏–Ω...
42615                      –ß—Ç–æ —Ç—ã —Å–µ–≥–æ–¥–Ω—è –µ–ª, –ß—É–¥–æ-–ø–µ—á–µ–Ω—å–µ
42616              –ß—Ç–æ —Ç—ã –¥—É–º–∞–µ—à—å –æ —Å–ø–æ—Ä—Ç–µ? –°–µ–∫—Ä–µ—Ç–Ω—ã–π –∫–ª—é—á
42617       –ö–∞–∫–æ–π —Ç–≤–æ–π –ª—é–±–∏–º—ã–π –≤–∏–¥ —Å–ø–æ—Ä—Ç–∞, –í–æ–ª—à–µ–±–Ω—ã–π –∫–æ–≤–µ—Ä
42618                           –¢—ã —É–º–µ–µ—à—å –ø–µ—Ç—å? –ß—É–¥–æ-–ø—Ç–∏—Ü–∞
Name: text, Length: 17451, dtype: object

In [25]:
df = pd.concat([df, data, data1])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
495  Attention all users! You won't believe the sup...
496  Free V1AGR4 and C1AL1S for all your needs! Don...
497  üí∞üí∞üí∞ Get Rich Quick!!! üí∞üí∞üí∞\nAre you tired of wo...
498  10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499  Yo guys! Check out this totally rad deal I fou...

[34914 rows x 1 columns]

# ___________________________________________________________________

In [29]:
data = pd.read_parquet('datasets/spam/train-00000-of-00001-daf190ce720b3dbb.parquet')
data1 = pd.read_parquet('datasets/spam/test-00000-of-00001-fa9b3e8ade89a333.parquet')
data = data.loc[data['label'] == 'spam', 'text']
data1 = data1.loc[data1['label'] == 'spam', 'text']
print(data)
print(data1)

1       "Get rich quick! Make millions in just days wi...
2       URGENT MESSAGE: YOU WON'T BELIEVE WHAT WE HAVE...
9       Check out these amazing weight loss pills! The...
10      SÃµPÃ∑AÃµMÃ∏MÃµEÃ∑RÃµSÃ∂ ÃµAÃ∑TÃµTÃ∂AÃµCÃ∏KÃ∏IÃ∂NÃµGÃ∑ ÃµOÃ∏NÃ∑ Ã∂SÃµ...
12      HEY EVERYONE!!! üëãüëãüëã\n\nAre you Tired üò¥ of bori...
                              ...
8167    Buy our new product NOW and get 50% off! This ...
8168    OMG, you won't believe the dealz we have right...
8171    DEALS! DEALS! DEALS!\n\nHey peeps! You won't b...
8173    Do you want to BLOW UP your social media follo...
8174    WAZZUP MY FELLOW NETIZENS! Time to get your sc...
Name: text, Length: 4125, dtype: object
1       üö® ATTENTION ALL USERS! üö®\n\nüÜò Are you looking ...
3       [[Sorry, I cannot generate inappropriate or sp...
4       L@@k at these Unbelievable diet pills that can...
6       YOLO peeps! Are you ready to level up your soc...
8       Get rich quick! Join our amazing money-making ...
                              ...
2713    Guys! OMG! You won't believe the craziness goi...
2715    "Unlock the secrets to getting rich quick with...
2717    Wazzup my fellow netizens! Are you tired of la...
2718    Get rich quick! Buy our exclusive guide now an...
2724    Feelin‚Äô like you‚Äôre not getting enough attenti...
Name: text, Length: 1375, dtype: object

In [30]:
df = pd.concat([df, data, data1])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
2713  Guys! OMG! You won't believe the craziness goi...
2715  "Unlock the secrets to getting rich quick with...
2717  Wazzup my fellow netizens! Are you tired of la...
2718  Get rich quick! Buy our exclusive guide now an...
2724  Feelin‚Äô like you‚Äôre not getting enough attenti...

[40414 rows x 1 columns]

# –û–±—Ä–∞–±–æ—Ç–∫–∞ eng –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞

In [40]:
import emoji

df_cop = df.copy()
df_cop.dropna(inplace=True)
df_cop.drop_duplicates(inplace=True)
df_cop.reset_index(inplace=True, drop=True)
df_cop[0] = df_cop[0].apply(lambda x: emoji.replace_emoji(x, ''))
df_cop

                                                       0
0      Free entry in 2 a wkly comp to win FA Cup fina...
1      FreeMsg Hey there darling it's been 3 week's n...
2      WINNER!! As a valued network customer you have...
3      Had your mobile 11 months or more? U R entitle...
4      SIX chances to win CASH! From 100 to 20,000 po...
...                                                  ...
31790  –ö–∞–∫–æ–π —É —Ç–µ–±—è –ª—é–±–∏–º—ã–π —Ü–≤–µ—Ç? –§–∞–Ω—Ç–∞—Å—Ç–∏—á–µ—Å–∫–∏–π –µ–¥–∏–Ω...
31791                    –ß—Ç–æ —Ç—ã —Å–µ–≥–æ–¥–Ω—è –µ–ª, –ß—É–¥–æ-–ø–µ—á–µ–Ω—å–µ
31792            –ß—Ç–æ —Ç—ã –¥—É–º–∞–µ—à—å –æ —Å–ø–æ—Ä—Ç–µ? –°–µ–∫—Ä–µ—Ç–Ω—ã–π –∫–ª—é—á
31793     –ö–∞–∫–æ–π —Ç–≤–æ–π –ª—é–±–∏–º—ã–π –≤–∏–¥ —Å–ø–æ—Ä—Ç–∞, –í–æ–ª—à–µ–±–Ω—ã–π –∫–æ–≤–µ—Ä
31794                         –¢—ã —É–º–µ–µ—à—å –ø–µ—Ç—å? –ß—É–¥–æ-–ø—Ç–∏—Ü–∞

[31795 rows x 1 columns]

In [41]:
import re

patterns = "[0-9!#$%&'()*+,./:;<=>?@[\]^_`{|}~‚Äî\"\-]+"


def symbols_del(text):
    doc = re.sub(patterns, ' ', text)
    return doc


df_cop[0] = df_cop[0].apply(symbols_del)
df_cop

                                                       0
0      Free entry in   a wkly comp to win FA Cup fina...
1      FreeMsg Hey there darling it s been   week s n...
2      WINNER  As a valued network customer you have ...
3      Had your mobile   months or more  U R entitled...
4      SIX chances to win CASH  From   to   pounds tx...
...                                                  ...
31790  –ö–∞–∫–æ–π —É —Ç–µ–±—è –ª—é–±–∏–º—ã–π —Ü–≤–µ—Ç  –§–∞–Ω—Ç–∞—Å—Ç–∏—á–µ—Å–∫–∏–π –µ–¥–∏–Ω...
31791                    –ß—Ç–æ —Ç—ã —Å–µ–≥–æ–¥–Ω—è –µ–ª  –ß—É–¥–æ –ø–µ—á–µ–Ω—å–µ
31792            –ß—Ç–æ —Ç—ã –¥—É–º–∞–µ—à—å –æ —Å–ø–æ—Ä—Ç–µ  –°–µ–∫—Ä–µ—Ç–Ω—ã–π –∫–ª—é—á
31793     –ö–∞–∫–æ–π —Ç–≤–æ–π –ª—é–±–∏–º—ã–π –≤–∏–¥ —Å–ø–æ—Ä—Ç–∞  –í–æ–ª—à–µ–±–Ω—ã–π –∫–æ–≤–µ—Ä
31794                         –¢—ã —É–º–µ–µ—à—å –ø–µ—Ç—å  –ß—É–¥–æ –ø—Ç–∏—Ü–∞

[31795 rows x 1 columns]

In [ ]:
def divider(text):
    arr = []
    step = 5000
    for i in range(0, len(text), 5000):
        slice = text[i:step]
        arr.append(slice)
        step += 5000
    return arr

data_len = df['comment'].apply(len)
arr = list(map(''.join, df.loc[data_len[data_len > 5000].index]['comment'].apply(divider)))
df_cop.drop(data_len[data_len > 5000].index, inplace=True)
pd.concat([df['comment'], pd.DataFrame(arr)], axis=0)

In [33]:
data = df['comment'].apply(len)
data[data > 5000].index
df.loc[data[data > 5000].index]

                                                comment label
782    dear friend a recent survey by nielsen netrat...  spam
785    from dallin agm holdings subject have you dre...  spam
831   hello by reading the short summary just below ...  spam
905   dear consumers increase your business sales ho...  spam
928   all our mailings are sent complying to the pro...  spam
943   the ultimate way to work from home the best mo...  spam
983    the industry forum hyperlink minute man ii NU...  spam
991    sent e mail message from enenkio URL robert m...  spam
996   it was the spring of NUMBER i was just a tall ...  spam
1000  it was the spring of NUMBER i was just a tall ...  spam
1001  it was the spring of NUMBER i was just a tall ...  spam
1003  newsletter coach invest septembre NUMBER coach...  spam
1004  newsletter coach invest septembre NUMBER coach...  spam
1028   free personal and business grants qualify for...  spam
1062  new new new in the market just released NUMBER...  spam
1065   foreword after thirty three years of being a ...  spam
1109  hello you may have seen this business before a...  spam
1118  hi i m a college dropout i work about two hour...  spam
1151   free personal and business grants qualify for...  spam
1168  hello you may have seen this business before a...  spam
1169  hello you may have seen this business before a...  spam
1173  hi i m a college dropout i work about two hour...  spam
1196   hello dmm discount mortgage millionaire progr...  spam
1221   free personal and business grants qualify for...  spam
1226   gbNUMBER b ynwNUMBERsquNUMBERruNUMBERnbqufqNU...  spam
1234  uncommon exotic pleasure botanicals feeling ma...  spam

In [34]:
import numpy as np


def divider(text):
    arr = []
    step = 5000
    for i in range(0, len(text), 5000):
        slice = text[i:step]
        arr.append(slice)
        step += 5000
    return arr


arr = list(map(''.join, df.loc[data[data > 5000].index]['comment'].apply(divider)))
df.drop(data[data > 5000].index, inplace=True)
pd.concat([df['comment'], pd.DataFrame(arr)], axis=0)

In [36]:
df.drop(data[data > 5000].index, inplace=True)
pd.concat([df['comment'], pd.DataFrame(arr)], axis=0)

                                                    0
0   Free entry in 2 a wkly comp to win FA Cup fina...
1   FreeMsg Hey there darling it's been 3 week's n...
2   WINNER!! As a valued network customer you have...
3   Had your mobile 11 months or more? U R entitle...
4   SIX chances to win CASH! From 100 to 20,000 po...
..                                                ...
21  hi i m a college dropout i work about two hour...
22   hello dmm discount mortgage millionaire progr...
23   free personal and business grants qualify for...
24   gbNUMBER b ynwNUMBERsquNUMBERruNUMBERnbqufqNU...
25  uncommon exotic pleasure botanicals feeling ma...

[1993 rows x 1 columns]

In [45]:
data = df['comment'].apply(len)
data[data > 5000].index
df.loc[data[data > 5000].index]

     label                                            comment
2     spam  vocable rnd word asceticism vcsc brand new sto...
5     spam  underpriced issue with high return on equity s...
6     spam  jump in to gain substantial ground immediately...
14    spam  the bull reccomends this stokkpic yap internat...
22    spam  smal stock oppurtunities their shooting haley ...
...    ...                                                ...
1345  spam  we ve got your info by internet hope to cooper...
1361  spam  your investor communiqup get abzt first thing ...
1423  spam  stock opportunities the u s oil report hot new...
1424  spam  otcbb itst up uregent news alert urgent news a...
1435  spam  market watch undervalued report f april top pi...

[68 rows x 2 columns]

In [66]:
import numpy as np


def divider(text):
    arr = []
    step = 5000
    for i in range(0, len(text), 5000):
        slice = text[i:step]
        arr.append(slice)
        step += 5000
    return arr


arr = list(map(''.join, df['comment'].apply(divider)))
df = pd.concat([df['comment'], pd.DataFrame(arr)], axis=0)
df.drop(data[data > 5000].index, inplace=True)
df.columns = ['comment']
df

                                                comment
68    this is the book my friend was talking about g...
69    long time customer id order we would like to t...
70    hello i sent you an email a few days ago becau...
71    roller coaster cigars for email loading brewst...
72    get cheap via gra generic viagra at cheap pric...
...                                                 ...
1449  check this stock it s going thru the roof gibb...
1450  we ve got your info by internet hope to cooper...
1451  your investor communiqup get abzt first thing ...
1452  stock opportunities the u s oil report hot new...
1453  market watch undervalued report f april top pi...

[2728 rows x 1 columns]