In [1]:
import pandas as pd

df = pd.DataFrame()

# ___________________________________________________________________

In [2]:
data = pd.read_csv('raw_datasets/spam/spam.csv', encoding='latin-1')
data = data.loc[data['v1'] == 'spam', 'v2'].dropna()
data

2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547    Had your contract mobile 11 Mnths? Latest Moto...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: v2, Length: 747, dtype: object

In [3]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
5537  Want explicit SEX in 30 secs? Ring 02073162414...
5540  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  Had your contract mobile 11 Mnths? Latest Moto...
5566  REMINDER FROM O2: To get 2.50 pounds free call...
5567  This is the 2nd time we have tried 2 contact u...

[747 rows x 1 columns]

# ___________________________________________________________________

In [4]:
data = pd.read_csv('raw_datasets/spam/spam_or_not_spam.csv')
data = data.loc[data['label'] == 1, 'email']
data

2500     save up to NUMBER on life insurance why spend...
2501    NUMBER fight the risk of cancer URL NUMBER sli...
2502    NUMBER fight the risk of cancer URL NUMBER sli...
2503     adult club offers free membership instant acc...
2504    i thought you might like these NUMBER slim dow...
                              ...
2995     abc s good morning america ranks it the NUMBE...
2996     hyperlink hyperlink hyperlink let mortgage le...
2997     thank you for shopping with us gifts for all ...
2998     the famous ebay marketing e course learn to s...
2999     hello this is chinese traditional 子 件 NUMBER世...
Name: email, Length: 500, dtype: object

In [5]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
2995   abc s good morning america ranks it the NUMBE...
2996   hyperlink hyperlink hyperlink let mortgage le...
2997   thank you for shopping with us gifts for all ...
2998   the famous ebay marketing e course learn to s...
2999   hello this is chinese traditional 子 件 NUMBER世...

[1247 rows x 1 columns]

# ___________________________________________________________________

In [6]:
with open('raw_datasets/spam/SMSSpamCollection', encoding='utf-8') as file:
    data = file.read()
data = data.split('\n')
data = pd.DataFrame(list(map(lambda x: x.split('\t'), data)))
data.columns = ['label', 'comment']
data = data.loc[data['label'] == 'spam', 'comment'].copy()
data

2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5539    Want explicit SEX in 30 secs? Ring 02073162414...
5542    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5549    Had your contract mobile 11 Mnths? Latest Moto...
5568    REMINDER FROM O2: To get 2.50 pounds free call...
5569    This is the 2nd time we have tried 2 contact u...
Name: comment, Length: 747, dtype: object

In [7]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
5539  Want explicit SEX in 30 secs? Ring 02073162414...
5542  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5549  Had your contract mobile 11 Mnths? Latest Moto...
5568  REMINDER FROM O2: To get 2.50 pounds free call...
5569  This is the 2nd time we have tried 2 contact u...

[1994 rows x 1 columns]

# ___________________________________________________________________

In [8]:
data = pd.read_csv('raw_datasets/spam/spam_ham_dataset.csv')
data.drop(columns=['Unnamed: 0', 'label_num'], inplace=True)
data = data.loc[data['label'] == 'spam', 'text']
data

3       Subject: photoshop , windows , office . cheap ...
7       Subject: looking for medication ? we ` re the ...
10      Subject: vocable % rnd - word asceticism\r\nvc...
11      Subject: report 01405 !\r\nwffur attion brom e...
13      Subject: vic . odin n ^ ow\r\nberne hotbox car...
                              ...
5159    Subject: pictures\r\nstreamlined denizen ajar ...
5161    Subject: penny stocks are about timing\r\nnoma...
5162    Subject: anomaly boys from 3881\r\nuosda apapr...
5164    Subject: slutty milf wants to meet you\r\ntake...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 1499, dtype: object

In [9]:
def subj_del(text):
    return text.replace('Subject:', '', 1)


data = data.apply(subj_del)
data

3        photoshop , windows , office . cheap . main t...
7        looking for medication ? we ` re the best sou...
10       vocable % rnd - word asceticism\r\nvcsc - bra...
11       report 01405 !\r\nwffur attion brom est inst ...
13       vic . odin n ^ ow\r\nberne hotbox carnal brid...
                              ...
5159     pictures\r\nstreamlined denizen ajar chased\r...
5161     penny stocks are about timing\r\nnomad intern...
5162     anomaly boys from 3881\r\nuosda apaproved mle...
5164     slutty milf wants to meet you\r\ntake that !\...
5170     important online banking alert\r\ndear valued...
Name: text, Length: 1499, dtype: object

In [10]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
5159   pictures\r\nstreamlined denizen ajar chased\r...
5161   penny stocks are about timing\r\nnomad intern...
5162   anomaly boys from 3881\r\nuosda apaproved mle...
5164   slutty milf wants to meet you\r\ntake that !\...
5170   important online banking alert\r\ndear valued...

[3493 rows x 1 columns]

# ___________________________________________________________________

In [11]:
data = pd.read_csv('raw_datasets/spam/data.csv')
data = data.loc[data['type'] == 'spam', 'text']
data

0     Hi James,\r\n\r\nHave you claim your complimen...
4     Hey Prachanda Rawal,\r\n\r\nToday's newsletter...
7     Today more than ever you need to upskill and r...
14    Discogs has recently detected an increase in s...
20    Hello Walid,\r\n\r\nDo you have $7?\r\n\r\nI a...
21                                  Just wanted to make
22                          RTD to iiiiiiuiiiiiiiiiiiii
23                     Sfhdg to iiiiiiuiiiiiiiiiiiii to
25    Welcome to our second weekly newsletter.\r\n\r...
27    Hi Taiwo\r\n\r\nWe're just over halfway throug...
28    Hi rehan\r\n\r\n \r\n\r\nWe're just over halfw...
30    Adult Dating\r\n\r\nDiscover the best site for...
31    Come on, message me i don't want to sleep alon...
34    To cushion the effect of subsidy removal and g...
35    Bolt rides are not only affordable, but they a...
38    \r\nLess than $1 for any of our 214 million am...
40    Where Live Happens ??\r\nThe Live party is jus...
41    Hello Walid,\r\n\r\nOur Zoom call meeting is t...
55    Greetings from SFI...let's keep building somet...
57    Comfortable & Durable\r\nLove, Bonito\r\nNEW I...
60    Dear Customer,\r\n\r\nAs the tax season comes ...
61    Dear Customer,\r\n\r\nThe 2022 filing season i...
63    Here�s 10% OFF your next 10 Bolt rides\r\n\r\n...
72    Hi Walid,\r\n\r\nDo you listen to music on Spo...
74    Hey Prachanda,\r\n \r\nToday's video... To bui...
76    We noticed a new login\r\nHello ondiekijohn254...
Name: text, dtype: object

In [12]:
df = pd.concat([df, data])
df

                                                    0
2   Free entry in 2 a wkly comp to win FA Cup fina...
5   FreeMsg Hey there darling it's been 3 week's n...
8   WINNER!! As a valued network customer you have...
9   Had your mobile 11 months or more? U R entitle...
11  SIX chances to win CASH! From 100 to 20,000 po...
..                                                ...
61  Dear Customer,\r\n\r\nThe 2022 filing season i...
63  Here�s 10% OFF your next 10 Bolt rides\r\n\r\n...
72  Hi Walid,\r\n\r\nDo you listen to music on Spo...
74  Hey Prachanda,\r\n \r\nToday's video... To bui...
76  We noticed a new login\r\nHello ondiekijohn254...

[3519 rows x 1 columns]

# ___________________________________________________________________

In [13]:
data = pd.read_csv('raw_datasets/spam/data_russian-spam-text-messages.csv')
data = data['message'].copy()
data

0      Кредит с доставкой к Вам от 2% до 1 млн.р.: bi...
1      Томаты Черри, горячее сердце/клубничный поцелу...
2      −410₽ на первый заказ в магазине от 1500₽. Про...
3      Финальная распродажа! ЛЕТО цены ПОПОЛАМ! Franc...
4      МЯУ 🐱 В ЛЭТУАЛЬ черная пятница ЛЕТОМ! Скидки д...
                             ...
110    Вам 500 бонусов до 28.06! Оплачивайте до 50% п...
111    Выиграйте более 49 млн в лотерее Всё или ничег...
112     мяу в лэтуаль черная пятница Летом!Скидки до 80%
113    Бесплатная кредитная карта «180 дней» без %, с...
114    SALE 💥 до -70% на ВСЁ в Золотой Подкове 💍💎 по ...
Name: message, Length: 115, dtype: object

In [14]:
df = pd.concat([df, data])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
110  Вам 500 бонусов до 28.06! Оплачивайте до 50% п...
111  Выиграйте более 49 млн в лотерее Всё или ничег...
112   мяу в лэтуаль черная пятница Летом!Скидки до 80%
113  Бесплатная кредитная карта «180 дней» без %, с...
114  SALE 💥 до -70% на ВСЁ в Золотой Подкове 💍💎 по ...

[3634 rows x 1 columns]

# ___________________________________________________________________

In [15]:
data = pd.read_csv('raw_datasets/spam/completeSpamAssassin.csv')
data = data.loc[data['Label'] == 1, 'Body'].copy()
data

0       \r\nSave up to 70% on Life Insurance.\r\nWhy S...
1       1) Fight The Risk of Cancer!\r\nhttp://www.adc...
2       1) Fight The Risk of Cancer!\r\nhttp://www.adc...
3       ##############################################...
4       I thought you might like these:\r\n1) Slim Dow...
                              ...
1891    \r\nWant To Be Your Own Boss? Â  Train Now Wit...
1892                                                empty
1893    Dear Subscriber,If I could show you a way to g...
1894    ****Mid-Summer Customer Appreciation SALE!****...
1895    ATTN:SIR/MADAN                            STRI...
Name: Body, Length: 1896, dtype: object

In [16]:
df = pd.concat([df, data])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
1891  \r\nWant To Be Your Own Boss? Â  Train Now Wit...
1892                                              empty
1893  Dear Subscriber,If I could show you a way to g...
1894  ****Mid-Summer Customer Appreciation SALE!****...
1895  ATTN:SIR/MADAN                            STRI...

[5530 rows x 1 columns]

# ___________________________________________________________________

In [17]:
data = pd.read_csv('raw_datasets/spam/lingSpam.csv')
data = data.loc[data['Label'] == 1, 'Body']
data

0      Subject: great part-time or summer job !\r\n \...
1      Subject: auto insurance rates too high ?\r\n \...
2      Subject: do want the best and economical hunti...
3      Subject: email 57 million people for $ 99\r\n ...
4      Subject: do n't miss these !\r\n \r\n attentio...
                             ...
428    Subject: lucky you !\r\n \r\n congratulations ...
429    Subject: new on capitalfm . com\r\n \r\n this ...
430    Subject: submit 600\r\n \r\n this is not spam ...
431    Subject: submit 600\r\n \r\n this is not spam ...
432    Subject: i can ' t stand it ! ! ! ! ! ! !\r\n ...
Name: Body, Length: 433, dtype: object

In [18]:
data = data.apply(subj_del)
data

0       great part-time or summer job !\r\n \r\n * * ...
1       auto insurance rates too high ?\r\n \r\n dear...
2       do want the best and economical hunting vacat...
3       email 57 million people for $ 99\r\n \r\n 57 ...
4       do n't miss these !\r\n \r\n attention ! warn...
                             ...
428     lucky you !\r\n \r\n congratulations ! you ' ...
429     new on capitalfm . com\r\n \r\n this is new a...
430     submit 600\r\n \r\n this is not spam ; you ar...
431     submit 600\r\n \r\n this is not spam ; you ar...
432     i can ' t stand it ! ! ! ! ! ! !\r\n \r\n dea...
Name: Body, Length: 433, dtype: object

In [19]:
df = pd.concat([df, data])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
428   lucky you !\r\n \r\n congratulations ! you ' ...
429   new on capitalfm . com\r\n \r\n this is new a...
430   submit 600\r\n \r\n this is not spam ; you ar...
431   submit 600\r\n \r\n this is not spam ; you ar...
432   i can ' t stand it ! ! ! ! ! ! !\r\n \r\n dea...

[5963 rows x 1 columns]

# ___________________________________________________________________

In [20]:
data = pd.read_csv('raw_datasets/spam/train.csv')
data1 = pd.read_csv('raw_datasets/spam/test.csv')
data = data.loc[data['label'] == 'spam', 'text']
data1 = data1.loc[data1['label'] == 'spam', 'text']
print(data)
print(data1)

0       5 Reasons You Need to Join InstaSpam Now!\r\n\...
1       Win A FREE iPhone X Now!! Click Here To Enter!...
2       CHECK OUT THESE AMAZING DEALS! GET RICH QUICK ...
3       Urgent update!!1!!1!1 OMG 😱😱😱\r\nYou won't bel...
4       Get rich quick with our amazing new investment...
                              ...
4995    Do you want to lead a happy life? Then join ou...
4996    Get ready to start making BANK with our amazin...
4997    Get ready to upgrade your social media game wi...
4998    Get rIch QUICK wIth thIs AMAZiNG oppOrTUity!!!...
4999    Get rich quick with our new investment scheme!...
Name: text, Length: 5000, dtype: object
0      LeTs tAlK AbouT DisCOuNtS aNd DeAlS! WhO HaS T...
1      Waaassssupppppp!!!!!! Have you checked out the...
2      $$$MAKE $$$MONEY$$$ FAST!!!$$$ No scams!$$$ \r...
3      Get rich quick with our amazing new product!!!...
4      Are you tired of being single? Join our websit...
                             ...
495    Attention all users! You won't believe the sup...
496    Free V1AGR4 and C1AL1S for all your needs! Don...
497    💰💰💰 Get Rich Quick!!! 💰💰💰\r\nAre you tired of ...
498    10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499    Yo guys! Check out this totally rad deal I fou...
Name: text, Length: 500, dtype: object

In [21]:
df = pd.concat([df, data, data1])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
495  Attention all users! You won't believe the sup...
496  Free V1AGR4 and C1AL1S for all your needs! Don...
497  💰💰💰 Get Rich Quick!!! 💰💰💰\r\nAre you tired of ...
498  10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499  Yo guys! Check out this totally rad deal I fou...

[11463 rows x 1 columns]

# ___________________________________________________________________

In [22]:
data = pd.read_csv('raw_datasets/spam/enronSpamSubset.csv')
data = data.loc[data['Label'] == 1, 'Body']
data = data.apply(subj_del)
data

0        stock promo mover : cwtd\r\n * * * urgent inv...
1        are you listed in major search engines ?\r\n ...
2        important information thu , 30 jun 2005 .\r\n...
3        = ? utf - 8 ? q ? bask your life with ? =\r\n...
4        " bidstogo " is places to go , things to do\r...
                              ...
4995                                   rock her world\r\n
4996     save your smoking\r\n unsubscribe\r\n taste b...
4997     you can find unimaginable savings on v . aliu...
4998     floor heating under tile - easiest system on ...
4999     update your online banking records\r\n notifi...
Name: Body, Length: 5000, dtype: object

In [23]:
df = pd.concat([df, data, data1])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
495  Attention all users! You won't believe the sup...
496  Free V1AGR4 and C1AL1S for all your needs! Don...
497  💰💰💰 Get Rich Quick!!! 💰💰💰\r\nAre you tired of ...
498  10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499  Yo guys! Check out this totally rad deal I fou...

[16963 rows x 1 columns]

# ___________________________________________________________________

In [24]:
data = pd.read_csv('raw_datasets/spam/junkmail_dataset.csv')
data = data.loc[data['is_spam'] == 1, 'text']
data

4114     Life Insurance - Why Pay More?\r\n\r\n<!DOCTYP...
4115     [ILUG] Guaranteed to lose 10-12 lbs in 30 days...
4116     Guaranteed to lose 10-12 lbs in 30 days       ...
4117     Re: Fw: User Name & Password to Membership To ...
4118     [ILUG-Social] re: Guaranteed to lose 10-12 lbs...
                               ...
42614    Какой у тебя любимый цвет? Фантастический един...
42615                      Что ты сегодня ел, Чудо-печенье
42616              Что ты думаешь о спорте? Секретный ключ
42617       Какой твой любимый вид спорта, Волшебный ковер
42618                           Ты умеешь петь? Чудо-птица
Name: text, Length: 17451, dtype: object

In [25]:
df = pd.concat([df, data, data1])
df

                                                     0
2    Free entry in 2 a wkly comp to win FA Cup fina...
5    FreeMsg Hey there darling it's been 3 week's n...
8    WINNER!! As a valued network customer you have...
9    Had your mobile 11 months or more? U R entitle...
11   SIX chances to win CASH! From 100 to 20,000 po...
..                                                 ...
495  Attention all users! You won't believe the sup...
496  Free V1AGR4 and C1AL1S for all your needs! Don...
497  💰💰💰 Get Rich Quick!!! 💰💰💰\r\nAre you tired of ...
498  10 AMAZING TRICKS THAT WILL CHANGE YOUR LIFE!!...
499  Yo guys! Check out this totally rad deal I fou...

[34914 rows x 1 columns]

# ___________________________________________________________________

In [26]:
data = pd.read_parquet('raw_datasets/spam/train-00000-of-00001-daf190ce720b3dbb.parquet')
data1 = pd.read_parquet('raw_datasets/spam/test-00000-of-00001-fa9b3e8ade89a333.parquet')
data = data.loc[data['label'] == 'spam', 'text']
data1 = data1.loc[data1['label'] == 'spam', 'text']
print(data)
print(data1)

1       "Get rich quick! Make millions in just days wi...
2       URGENT MESSAGE: YOU WON'T BELIEVE WHAT WE HAVE...
9       Check out these amazing weight loss pills! The...
10      S̵P̷A̵M̸M̵E̷R̵S̶ ̵A̷T̵T̶A̵C̸K̸I̶N̵G̷ ̵O̸N̷ ̶S̵...
12      HEY EVERYONE!!! 👋👋👋\n\nAre you Tired 😴 of bori...
                              ...
8167    Buy our new product NOW and get 50% off! This ...
8168    OMG, you won't believe the dealz we have right...
8171    DEALS! DEALS! DEALS!\n\nHey peeps! You won't b...
8173    Do you want to BLOW UP your social media follo...
8174    WAZZUP MY FELLOW NETIZENS! Time to get your sc...
Name: text, Length: 4125, dtype: object
1       🚨 ATTENTION ALL USERS! 🚨\n\n🆘 Are you looking ...
3       [[Sorry, I cannot generate inappropriate or sp...
4       L@@k at these Unbelievable diet pills that can...
6       YOLO peeps! Are you ready to level up your soc...
8       Get rich quick! Join our amazing money-making ...
                              ...
2713    Guys! OMG! You won't believe the craziness goi...
2715    "Unlock the secrets to getting rich quick with...
2717    Wazzup my fellow netizens! Are you tired of la...
2718    Get rich quick! Buy our exclusive guide now an...
2724    Feelin’ like you’re not getting enough attenti...
Name: text, Length: 1375, dtype: object

In [27]:
df = pd.concat([df, data, data1])
df

                                                      0
2     Free entry in 2 a wkly comp to win FA Cup fina...
5     FreeMsg Hey there darling it's been 3 week's n...
8     WINNER!! As a valued network customer you have...
9     Had your mobile 11 months or more? U R entitle...
11    SIX chances to win CASH! From 100 to 20,000 po...
...                                                 ...
2713  Guys! OMG! You won't believe the craziness goi...
2715  "Unlock the secrets to getting rich quick with...
2717  Wazzup my fellow netizens! Are you tired of la...
2718  Get rich quick! Buy our exclusive guide now an...
2724  Feelin’ like you’re not getting enough attenti...

[40414 rows x 1 columns]

# Обработка eng для перевода

In [28]:
import emoji
import numpy as np

df_cop = df.copy()
df_cop.dropna(inplace=True)
df_cop.drop_duplicates(inplace=True)
df_cop.reset_index(inplace=True, drop=True)
df_cop[0] = df_cop[0].apply(lambda x: emoji.replace_emoji(x, ''))
df_cop

                                                       0
0      Free entry in 2 a wkly comp to win FA Cup fina...
1      FreeMsg Hey there darling it's been 3 week's n...
2      WINNER!! As a valued network customer you have...
3      Had your mobile 11 months or more? U R entitle...
4      SIX chances to win CASH! From 100 to 20,000 po...
...                                                  ...
37164  Guys! OMG! You won't believe the craziness goi...
37165  "Unlock the secrets to getting rich quick with...
37166  Wazzup my fellow netizens! Are you tired of la...
37167  Get rich quick! Buy our exclusive guide now an...
37168  Feelin’ like you’re not getting enough attenti...

[37169 rows x 1 columns]

In [29]:
import re

patterns = "[0-9!#$%&'()*+,./:;<=>?@[\]^_`{|}~—\"\-]+"


def symbols_del(text):
    doc = re.sub(patterns, ' ', text)
    return doc


df_cop[0] = df_cop[0].apply(symbols_del)
df_cop

                                                       0
0      Free entry in   a wkly comp to win FA Cup fina...
1      FreeMsg Hey there darling it s been   week s n...
2      WINNER  As a valued network customer you have ...
3      Had your mobile   months or more  U R entitled...
4      SIX chances to win CASH  From   to   pounds tx...
...                                                  ...
37164  Guys  OMG  You won t believe the craziness goi...
37165   Unlock the secrets to getting rich quick with...
37166  Wazzup my fellow netizens  Are you tired of la...
37167  Get rich quick  Buy our exclusive guide now an...
37168  Feelin’ like you’re not getting enough attenti...

[37169 rows x 1 columns]

In [30]:
data_len = df_cop[0].apply(len)

In [31]:
data_len[data_len > 5000]

683      14223
686      15744
727      15375
789       5561
807      17716
         ...
31136     5270
31154     6532
31219     6885
31231     6079
31253     8898
Name: 0, Length: 1769, dtype: int64

In [32]:
over_five_thousand = pd.Series()


def divider(text, array):
    step = 5000
    for i in range(0, len(text), 5000):
        slice = text[i:step]
        array.loc[len(array.index)] = slice
        step += 5000
    return True


df_cop.loc[data_len[data_len > 5000].index][0].apply(divider, array=over_five_thousand)
df_cop.drop(data_len[data_len > 5000].index, inplace=True)
over_five_thousand

0        dear friend a recent survey by nielsen netrat...
1       R down to report NUMBER NUMBER move the name a...
2       have received NUMBER orders NUMBER to NUMBER w...
3        from dallin agm holdings subject have you dre...
4       nual in order to receive your NUMBER NUMBER pe...
                              ...
4617    ion only and should be treated as such  \r\nwe...
4618    is it a microcap miracle  \r\n\r\ninvestor ale...
4619    nformation herein as legal   tax   accounting ...
4620    small cap stox can sizzle\r\n\r\nthe contact c...
4621    nt report by empire research associates stated...
Length: 4622, dtype: object

In [33]:
df_cop = pd.concat([df_cop, over_five_thousand], axis=0)
df_cop

                                                      0
0     Free entry in   a wkly comp to win FA Cup fina...
1     FreeMsg Hey there darling it s been   week s n...
2     WINNER  As a valued network customer you have ...
3     Had your mobile   months or more  U R entitled...
4     SIX chances to win CASH  From   to   pounds tx...
...                                                 ...
4617  ion only and should be treated as such  \r\nwe...
4618  is it a microcap miracle  \r\n\r\ninvestor ale...
4619  nformation herein as legal   tax   accounting ...
4620  small cap stox can sizzle\r\n\r\nthe contact c...
4621  nt report by empire research associates stated...

[40022 rows x 1 columns]

In [34]:
df_cop

                                                      0
0     Free entry in   a wkly comp to win FA Cup fina...
1     FreeMsg Hey there darling it s been   week s n...
2     WINNER  As a valued network customer you have ...
3     Had your mobile   months or more  U R entitled...
4     SIX chances to win CASH  From   to   pounds tx...
...                                                 ...
4617  ion only and should be treated as such  \r\nwe...
4618  is it a microcap miracle  \r\n\r\ninvestor ale...
4619  nformation herein as legal   tax   accounting ...
4620  small cap stox can sizzle\r\n\r\nthe contact c...
4621  nt report by empire research associates stated...

[40022 rows x 1 columns]

In [35]:
from nltk.tokenize import word_tokenize
import re

patterns = "[0-9!#$%&'()*+,./:;<=>?@[\]^_`{|}~—\"\-]+"


def lemmatize(text):
    doc = re.sub(patterns, ' ', text)
    tokens = word_tokenize(doc, language='russian')
    return tokens


def concat(text):
    text = ' '.join(text)
    return text


df_cop[0] = df_cop[0].apply(lemmatize)
df_cop[0] = df_cop[0].apply(concat)
df_cop

                                                      0
0     Free entry in a wkly comp to win FA Cup final ...
1     FreeMsg Hey there darling it s been week s now...
2     WINNER As a valued network customer you have b...
3     Had your mobile months or more U R entitled to...
4     SIX chances to win CASH From to pounds txt CSH...
...                                                 ...
4617  ion only and should be treated as such we may ...
4618  is it a microcap miracle investor alert immedi...
4619  nformation herein as legal tax accounting or i...
4620  small cap stox can sizzle the contact center i...
4621  nt report by empire research associates stated...

[40022 rows x 1 columns]

In [37]:
from deep_translator import GoogleTranslator

# Use any translator you like, in this example GoogleTranslator
translator = GoogleTranslator(source='auto', target='ru')


def google_translator(text):
    try:
        return translator.translate(text)
    except:
        return 'error'


df_cop[0] = df_cop[0].apply(lambda x: google_translator(x))
df_cop.drop_duplicates(inplace=True)
df_cop

                                                      0
0     Бесплатный вход в еженедельном соревновании дл...
1     FreeMsg Привет, дорогая, прошла уже неделя, а ...
2     ПОБЕДИТЕЛЬ Как ценный клиент сети вы были выбр...
3     Если у вас есть месяц или более мобильного тел...
4     ШЕСТЬ шансов выиграть НАЛИЧНЫЕ От до фунтов tx...
...                                                 ...
4616  Вы любите недорогие акции Stoxs, лучшие акции ...
4618  это чудо микрокапитализации предупреждение инв...
4619  содержащуюся здесь информацию в качестве юриди...
4620  Stox с небольшой капитализацией может взорвать...
4621  В отчете Empire Research Associates говорится,...

[28220 rows x 1 columns]

In [38]:
df_cop

                                                      0
0     Бесплатный вход в еженедельном соревновании дл...
1     FreeMsg Привет, дорогая, прошла уже неделя, а ...
2     ПОБЕДИТЕЛЬ Как ценный клиент сети вы были выбр...
3     Если у вас есть месяц или более мобильного тел...
4     ШЕСТЬ шансов выиграть НАЛИЧНЫЕ От до фунтов tx...
...                                                 ...
4616  Вы любите недорогие акции Stoxs, лучшие акции ...
4618  это чудо микрокапитализации предупреждение инв...
4619  содержащуюся здесь информацию в качестве юриди...
4620  Stox с небольшой капитализацией может взорвать...
4621  В отчете Empire Research Associates говорится,...

[28220 rows x 1 columns]

In [39]:
df_cop.to_csv("clean_data/raw_russian_data.csv",index=False)